<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat component</title>
    <style>
        input{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <input type="text" placeholder="name" id="name"><br>
    <textarea id="model" cols="30" rows="10"></textarea><br>
    <textarea id="year" cols="30" rows="10"></textarea><br>
    <textarea id="img" cols="30" rows="10"></textarea><br>
    <textarea id="styles" cols="30" rows="10"></textarea><br>
    <button id="create_btn">Create component</button><br>
    

    <script src="createComponent.js"></script>
    
</body>
</html>
